In [34]:
import pandas as pd 

cov19_df  = pd.read_csv("dataset/covid_19_data.csv")

Here looking at the total number of death caused by cov19_df.
Up until March.28th, 2020, we have about 32000 people died 
due to covid-19

In [37]:
cov19_df['Deaths'].sum()

320346.0

Looking at the cov19 by countries, we see that mainland china, not surprisingly, is still at the top of total number of people infected.

In [30]:
cov19_df_country = cov19_df.groupby (['Country/Region']).sum()
cov19_df_country = cov19_df_country.sort_values(by=['Confirmed'],ascending=False)
cov19_df_country.sort_values(by=['Confirmed'],ascending=False).head()

                     SNo  Confirmed    Deaths  Recovered
Country/Region
Mainland China   6522912  3931798.0  135734.0  2155575.0
Italy             206847   905869.0   81731.0   102745.0
US              10234023   596587.0    8885.0     4119.0
Spain             207586   478543.0   31580.0    52516.0
Iran              185925   403155.0   26076.0   131885.0

In [33]:
cov19_df_country['CurrentInfected'] = cov19_df_country.apply(lambda row: row['Confirmed']-row['Recovered']-row['Deaths'],axis=1)
cov19_df_country.sort_values(by=['CurrentInfected'],ascending=False).head()

                     SNo  Confirmed    Deaths  Recovered  CurrentInfected
Country/Region
Mainland China   6522912  3931798.0  135734.0  2155575.0        1640489.0
Italy             206847   905869.0   81731.0   102745.0         721393.0
US              10234023   596587.0    8885.0     4119.0         583583.0
Spain             207586   478543.0   31580.0    52516.0         394447.0
Germany           207950   387969.0    1923.0    29617.0         356429.0