In [2]:
import pandas as pd 

cov19_df  = pd.read_csv("dataset/covid_19_data.csv")

In [10]:
cov19_df.describe()

               SNo     Confirmed        Deaths     Recovered
count  9735.000000   9735.000000   9735.000000   9735.000000
mean   4868.000000    846.954494     32.906626    266.837494
std    2810.396769   5637.537679    323.778243   2903.268647
min       1.000000      0.000000      0.000000      0.000000
25%    2434.500000      3.000000      0.000000      0.000000
50%    4868.000000     25.000000      0.000000      0.000000
75%    7301.500000    177.000000      1.000000     12.000000
max    9735.000000  92472.000000  10023.000000  62098.000000

In [12]:
cov19_df.describe()

               SNo     Confirmed        Deaths     Recovered
count  9735.000000   9735.000000   9735.000000   9735.000000
mean   4868.000000    846.954494     32.906626    266.837494
std    2810.396769   5637.537679    323.778243   2903.268647
min       1.000000      0.000000      0.000000      0.000000
25%    2434.500000      3.000000      0.000000      0.000000
50%    4868.000000     25.000000      0.000000      0.000000
75%    7301.500000    177.000000      1.000000     12.000000
max    9735.000000  92472.000000  10023.000000  62098.000000